%h1= Inverter.model_name.human(count: 2)

.row
  - @inverters.each do |inverter|
    .col-md-6
      = render 'inverter', inverter: inverter

.row
  .col-md-2
    %a.btn.btn-primary{href: new_inverter_path}
      = I18n.t('buttons.create_model', model: Inverter.model_name.human)
